@page
@model Funkollection.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
}

<h1>Welcome, @User.Identity.Name!</h1>
<p>This is your personalized home page.</p>

<!-- Add Funko Pop Button -->
<a href="/AddPop" class="btn btn-primary">Add Funko Pop</a>

