@page "{id:int}"
@model Funkollection.Pages.Pops.EditPopModel
@{
}

<h1>Edit Funko Pop</h1>

<form method="post">
    <input type="hidden" asp-for="FunkoPop.Id" />
    <div class="form-group">
        <label for="Name">Pop Name</label>
        <input asp-for="FunkoPop.Name" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="Series">Series</label>
        <input asp-for="FunkoPop.Series" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Title">Title</label>
        <input asp-for="FunkoPop.Title" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="ImageUrl">Image URL</label>
        <input asp-for="FunkoPop.ImageUrl" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Number">Number</label>
        <input asp-for="FunkoPop.Number" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
</form>

