@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import 'tailwindcss';

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 3rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 3rem;
  }
}

main {
  margin-top: 15rem;
}

html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 15rem;
  overflow-x: hidden;
}
